

@model fa22_finalproject_32.Models.ViewModels.IndexViewModel
@*@{
    ViewBag.Title = "Change Password";
}*@

<h2>Profile</h2>

<div>
@*    <h4>Change your account settings</h4>
*@    <hr />
    <dl class="dl-horizontal">
        <dt>First Name:</dt>
        <dd>@Model.FirstName</dd>

        <dt>Last Name:</dt>
        <dd>@Model.LastName</dd>

        <dt>Middle Initial:</dt>
        <dd>@Model.MI</dd>

        <dt>Address:</dt>
        <dd>@Model.Address</dd>

        <dt>City:</dt>
        <dd>@Model.City</dd>

        <dt>State:</dt>
        <dd>@Model.State</dd>

        <dt>Zip Code:</dt>
        <dd>@Model.ZipCode </dd>

        <dt>Phone Number:</dt>
        <dd>@Model.PhoneNumber</dd>

        <dt>Email:</dt>
        <dd>@Model.Email</dd>

        <dt>Password:</dt>
        <dd>
            [@Html.ActionLink("Change your password", "ChangePassword")]
        </dd>
    </dl>
</div>

    [@Html.ActionLink("Modify your Profile", "ModifyProfile")]
