@model fa22_finalproject_32.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisputeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisputeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionComments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransactionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<a asp-action="Create" asp-controller="Disputes" class="btn btn-info">Dispute Transaction</a>
