@model IEnumerable<fa22_finalproject_32.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" asp-controller="Transaction" method="get">
    <p class="form-group">
@*        Search: <input name="SearchString" class="form-control" /><br />
        <button type="submit" class="btn btn-primary">Search</button>*@
        <a asp-action="DetailedSearch" class="btn btn-success">Detailed Search</a>
        <a asp-action="Index" class="btn btn-success">Show All</a>
        <a asp-action="Deposit" class="btn btn-danger">Deposit</a>
        <a asp-action="Withdraw" class="btn btn-danger">Withdraw</a>
        <a asp-action="Transfer" class="btn btn-danger">Transfer</a>
    </p>
</form>
<p>Displaying @ViewBag.SelectedTransactions out of @ViewBag.AllTransactions Transactions</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisputeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionComments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisputeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionComments)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
