@model IEnumerable<fa22_finalproject_32.Models.StockTransaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumofShares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pricepershare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockTransactionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumofShares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pricepershare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockTransactionDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StockTransactionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StockTransactionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StockTransactionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
